/* global.css */
:root {
    --color-blue: #091e42;
   --color-lightlue:#c7d9dd;
   --color-offwhite50percent:#c7d9dd;
   --color-offwhite100percent:#e5eaeb;
   --color-skyblue:#aedae7;
   --color-darkblue:#0c2b40;
   --color-yellow:#c8cf8a;
   --color-ourleadershipbcg:#0c4160;
   --color-turquoise3blue:#0fb8ce;
  }
  
 
  